body{
	background: #f3f6f7;
}
.body {
	margin: 0 auto;
	width: 980px;
	height: 100%;
}
.navbar-default{
	height: 124px;
}
.body .container{
	width: 980px;
	padding: 0;
	/*background: #FFFFFF;*/
}
.navbar .top{
	line-height: 78px;
	height: 78px;
	border-bottom:1px solid #f1f1f1 ;
}

.navbar .top .navbar-right{
	margin-right: 20px;
}
.navbar .top .navbar-left{
	margin-left: 20px;
}
.navbar .top .navbar-search input{
	border:0;
	line-height: 32px;
	outline: none 0px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);    
   -webkit-user-modify: read-write-plaintext-only;
}
.navbar .top .navbar-search i{
	color:#D4D4D4;
}
.navbar .navbar-search{
	height: 32px;
	width:240px
	outline: solid 1px #f1f1f1;
	background: #FFFFFF;
}
.navbar .navbar-search .glyphicon{
	line-height: 32px;
	display: inline-block;
	background: #FFFFFF;
	height: 32px;
	width:20px;
	cursor: pointer;
}
.navbar .navbar-nav li a{
	padding-top: 0;
	padding-bottom: 0;
}
.navbar .navbar-nav li a:hover{
	color: #007fff;
}
.navbar .navbar-nav li.active a{
	color: #007FFF;
}
.navbar .navbar-nav li.active a:hover{
	color: #007FFF;
}
.container .content{
	width: 980px;
	background: #FFFFFF;
	padding-left: 15px;
}
.container .content .blog-header{
	font: normal 13px/54px "微软雅黑";
	color: #333333;
}
.container .content .blog-header a{
	margin: 0 10px;
	font: normal 13px/54px "微软雅黑";
	color: #333333;
}
.container .content .blog-header a:hover{
	color: #007fff;
}
.container .content .remen{
	margin-right: 20px;
}
.avatar{
	width: 30px;
	height: 30px;
	border-radius: calc(30px);
}
.row{
	margin-right: 0;
}
.blog-post{
	padding-right: 15px;
	width:980px;
}
.blog-post-meta{
	height: 60px;
	line-height: 60px;
	background: #f3f3f3;
}
.blog-post-meta span{
	margin:0 10px;
	color: #71777c;
}
.container .blog-post .navbar-left .outline{
	display: inline-block;
	color: #D4D4D4;
	border: 1px solid  #DDDDDD;
}
.container .blog-post{
	color: #949494;
}
.container .blog-post .blog-post-title{
	color: #000000;
}
.like{
	width: 50px;
	height: 25px;
	text-align: center;
}
.container .blog-post i{
	color:#D4D4D4;
}
.comment{
	width: 40px;
	height: 25px;
	text-align: center;
}
.container .blog-post .navbar-right a{
	margin-right:20px ;
	font: normal 12px/30px "微软雅黑";
	color: #DDDDDD;
}
.left{
	float: left;
}
.body .card{
	float:left;
	width: 270px;
	margin-left:20px ;
}
.card .blog-post-title{
	font-size: 18px;
}
.body .card span.label{
	display: inline-block;
	line-height: 30px;
	font-size: 17px;
	font-family: "微软雅黑";
	margin-right: 8px;
	height: 30px;
	margin-top: 8px;
}
.lang{
	width: 124px;
}

/*comments*/
.comments-area{
	background: #FFFFFF;
	margin: 10px 0 10px 0;
}
.comments-area h3{
	margin: 0 0 0 30px;
}
.comment-area{
	margin: 0 50px;
}
.comment{
	width: 900px;
	margin-bottom: 10px;
	min-height: 60px;
}
.comment .avatar{height: 40px;width:40px;}
.comment-body{
	width: 720px;
	/*overflow: hidden;*/
}
.comment-body>.comment{
	width: 870px;
	float: left;
	margin-left: 30px;
}
.comment-body .comment-body{
	width: 690px;
}
.comment-content{
	float: left;
padding-bottom: 2px;
word-break: break-all;
word-wrap: break-word;
}

.comment>.pull-left {
margin-right: 10px;
}
.comment .time_div{
	float: right;
}
.comment .time{
	color:#ccc;
	font-size: 12px;
	line-height: 14px;
}
.comment-postbox-wraper{padding-right:22px; }
.comment-postbox{width: 100%;padding: 10px;}

.comment-reply-box{position: relative;padding-right:14px;}
.comment-reply-box .textbox{width: 100%}

